{% extends 'base.html.twig' %}

{% block title %}Edit Hours{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow mb-4 mt-3">
                    <div class="card-header">
                        <h6 class="text-primary font-weight-bold">Uren Bewerken</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-red">Let op dat de goede werkbon geselecteerd staat! (werkt tijdelijk niet)</h4>
                                {{ include('hours/_form.html.twig', {'id': id}) }}
                                {{ include('hours/_delete_form.html.twig') }}
                                <a href="{{ path('hours_index') }}" class="dropdown-item text-primary">Terug</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
