{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-sm">
                <div class="card h-100">
                    <div class="card-header font-weight-bold">
                        <div class="card-title">Tickets</div>
                    </div>
                    <div class="ajaxContent">
                        {{ include('ticket/index_results.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable( {
                "order" : [[ 1, "asc" ]],
                "language": {
                    "lengthMenu" : "Laat _MENU_ tickets per pagina zien",
                    "info" : "Pagina _PAGE_ van de _PAGES_",
                    "search" : "zoeken:",
                    "paginate" : {
                        "first" : "Eerste",
                        "last" : "Laatste",
                        "next" : "Volgende",
                        "previous" : "Vorige",
                    },
                }
            });
        } );
    </script>
{% endblock %}
