{% extends 'base.html.twig' %}

{% block title %}WorkOrders index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-sm">
                <div class="card h-100">
                    <div class="card-header font-weight-bold">
                        <div class="card-title">Werkbonnen</div>
                    </div>
                    <div class="ajaxContent">
                        {{ include('work_orders/index_results.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable( {
                "order" : [[ 1, "asc" ]],
                "language": {
                    "lengthMenu" : "Laat _MENU_ werkbonnen per pagina zien",
                    "info" : "Pagina _PAGE_ van de _PAGES_",
                    "search" : "zoeken:",
                    "paginate" : {
                        "first" : "Eerste",
                        "last" : "Laatste",
                        "next" : "Volgende",
                        "previous" : "Vorige",
                    },
                }
            });
        } );

        $(document).ready(function(){
            $("#search").on('keyup', function(e) { // everytime keyup event
                e.preventDefault();
                var input = $(this).val();// We take the input value
                $.ajax({
                    type: "POST",
                    data: {
                        query: input
                    },
                    url: "{{ path('workOrder_search') }}",
                    dataType: "html",
                    cache: false,
                    success: function (response) {
                        $('.ajaxContent').empty();
                        $('.ajaxContent').append(response);

                    },
                    error: function (response) {
                        console.log(response);
                    }
                });

            });
        });

    </script>
{% endblock %}
